<div class="row">
	<div class="large-12 columns">
		<div class="large-3 columns panel">
		  <a href="/GATE" class="button [tiny success radius round]" style="width:200px">GATE</a><br />
		  <a href="/IES" class="button [tiny info radius round]" style="width:200px">IES</a><br />
		  <a href="/CPTP" class="button [tiny alert radius round]" style="width:200px">CPTP</a><br />
		  <a href="/PSUs" class="button [tiny success radius round]" style="width:200px">PSUs</a><br />
		</div>
		<div class="large-9 columns">
		  <img src="/assets/TrueSupport.png" alt="slide image"> 
		</div>
	</div>
</div>