<div class="row">
  <div class="large-12 columns">
    <h3>Indian Engineering Services</h3>
      <p>
        <b>Indian Engineering Services</b>, abbreviated as <b>IES</b> are the civil services that meet the technical and managerial functions of the Government of India. Like most countries, the Government of India recruits its civil servants and officials on the basis of merit, the middle management positions in the bureaucracy are filled through competitive exams. Large number of candidates takes these exams, competing for limited posts. IES officers are selected by the union government on the recommendations made by the Union Public Service Commission (UPSC). A combined four-stage competitive examination (comprising six tests), called the <b>Engineering Services Examination (ESE)</b> is conducted by the UPSC for recruitment to the Indian Engineering Services.
      </p>
      <p>IES remain the most sought-after careers for the engineering graduates in India. </p>
      <p>In the year 2010, a total of 157,649 candidates applied for 434 vacancies (includes all branches and cadres). In 2011, a total number of 693 candidates were recommended for appointments in these four lists include 317 General, 209 Other Backward Classes, 113 Scheduled Castes and 54 Scheduled Tribes (including 44 candidates belonging to Physically Handicapped category). ESE 2012 was conducted for the recruitment of candidates to as many as 560 posts, which also includes 47 vacancies available only for the PH (physically handicapped) category. ESE 2013 will be conducted for the recruitment of candidates to as many as 763 posts, which also includes 19 vacancies available only for the PH (physically handicapped) category.</p>
      <p>Because of this difficult selection procedure, IES officers carry high respect and stature in society and are able to manage activities in diverse areas. Government spending comprises more than 15 percent of India's GDP and given the extent of tasks and functions managed by the public sector, this extends to a fairly broad segment of the economy covering the railways, roads, defense, manufacturing, inspection, supply, construction, public works, power, telecommunications, etc.</p>
      <p>All appointments to the Group A services are made by the President of India.</p>
    <h3>Civil engineering</h3>
      <h5>Group A Services:</h5>
        <ul>
          <li class="cls">Indian Railway Service of Engineers</li>
          <li class="cls">Indian Railway Stores Service</li>
          <li class="cls">Central Engineering Service</li>
          <li class="cls">Indian Defense Service of Engineers</li>
          <li class="cls">Indian Ordnance Factories Service (IOFS)</li>
          <li class="cls">Central Water Engineering</li>
          <li class="cls">Central Engineering Service (Roads)</li>
          <li class="cls">Border Roads Engineering Service</li>
        </ul>
    
    <h3>Mechanical engineering</h3>
      <h5>Group A Services:</h5>
        <ul>
          <li class="cls">Indian Railway Service of Mechanical Engineers</li>
          <li class="cls">Indian Railway Stores Service</li>
          <li class="cls">Central Water Engineering</li>
          <li class="cls">Central Power Engineering Service (Central Electricity Authority)</li>
          <li class="cls">Indian Ordnance Factories Service(IOFS)</li>
          <li class="cls">Indian Naval Armament Service
          <li class="cls">Corps of Electrical and Mechanical Engineers (EME), a branch in the Indian Army</li>
          <li class="cls">Indian Navy</li>
          <li class="cls">Central Electrical & Mechanical Engineering Service (Central Public Works Department)</li>
          <li class="cls">Border Roads Engineering Service</li>
          <li class="cls">Indian Supply Service (Directorate General of Supply and Disposals)</li>
          <li class="cls">Indian Defence Service of Engineers</li>
          <li class="cls">Central Engineering Service (Roads)</li>
        </ul>
    <h3>Electrical engineering</h3>
      <h5>Group A Services:</h5>
        <ul>
          <li class="cls">Indian Railway Service of Electrical Engineers</li>
          <li class="cls">Indian Railway Stores Service</li>
          <li class="cls">Central Electrical and Mechanical Engineering Service (Central Public Works Department)</li>
          <li class="cls">Indian Naval Armament Service</li>
          <li class="cls">Indian Ordnance Factories Service (IOFS)</li>
          <li class="cls">Central Power Engineering Service (Central Electricity Authority)</li>
          <li class="cls">Indian Defence Service of Engineers</li>
          <li class="cls">Indian Navy</li>
          <li class="cls">Indian Supply Service (Directorate General of Supply and Disposals)</li>
          <li class="cls">Corps of Electrical and Mechanical Engineers (EME), a branch in the Indian Army</li>
        </ul>

    <h3>Electronics & Telecommunication engineering</h3>
    <h5>Group A Services:</h5>
    <ul>
      <li class="cls">Indian Railway Service of Signal Engineers</li>
      <li class="cls">Indian Railway Stores Service</li>
      <li class="cls">Indian Inspection Service</li>
      <li class="cls">Indian Naval Armament Service</li>
      <li class="cls">Indian Ordnance Factories Service (IOFS)</li>
      <li class="cls">Corps of Electrical and Mechanical Engineers (EME), a branch in the Indian Army</li>
      <li class="cls">)Wireless Planning and Co-ordination Wing</li>
      <li class="cls">Indian Navy</li>
      <li class="cls">Indian Supply Service (Directorate General of Supply and Disposals)</li>
      <li class="cls">Indian Telecommunication Service</li>
    </ul>

    <h3>Career progression</h3>
    <ul>
      <li class="lis">At the time of selection – Assistant Executive Engineer / Assistant Works Manager / Assistant Director.</li>
      <li class="lis">after 3–4 years of service (including probation period) – Executive Engineer / Works Manager / Deputy Director (equivalent to Under Secretary to Government of India).</li>
      <li class="lis">after 8 years of service – Superintending Engineer / Deputy General Manager / Joint Director (equivalent to Deputy Secretary to Government of India).</li>
      <li class="lis">after 13 years of service – Chief Engineer level-2 / Joint General Manager (equivalent to Director to Government of India).</li>
      <li class="lis">after 20 years of service – Chief Engineer / Additional General Manager (equivalent to Joint Secretary to Government of India).</li>
      <li class="lis">after 30 years of service – Engineer-in-Chief / Senior General Manager (equivalent to Additional Secretary to Government of India).</li>
      <li class="lis">after 34 years of service - Chairman / Director General / Managing Director (equivalent to Secretary to Government of India).</li>
    </ul>
      <p>Promotions are subjected to availability of vacancies and may take more time than mentioned above. The age of superannuation is 60 years for all civil servants in India.</p>
    <h3>Functions of the officers</h3>
      <p>The nature of work performed by these bureaucrats largely depends on their engineering branch and the service or cadre they are recruited in. However, they can move to any cadre, organisation, agency, department, ministry or PSU of the Government of India. They are appointed in the posts analogous to their present one, either on deputation basis which is of a fixed tenure (at least 5 years and extensible) after which the officer returns to their parent cadre or on absorption basis where the official leaves the parent cadre and is "absorbed" permanently into the new cadre.</p>
    <h3>Eligibility</h3>
    <h5>Educational qualifications</h5>
      <p>At least a bachelor's degree in Engineering (B.E. / B. Tech) from a recognised university or equivalent. M.Sc degree or its equivalent with Wireless Communications, Electronics, Radio Physics or Radio Engineering as special subjects also acceptable for certain services / posts only.</p>
    <h3>Age limits</h3>
      <p>21–30 years on 1 January of the year of Engineering Services Examination.</p>
      <p>Upper age limit relaxation is provided to candidates as follows:</p>
      <ul>
        <li class="cls">A maximum of three years for OBC candidates [Non Creamy Layer only]</li>
        <li class="cls">A maximum of three years in case of Defence Services personnel disabled in operations during hostilities with any foreign country or in a disturbed area and released as a consequence</li> 
        <li class="cls">A maximum of five years for candidates belonging to a Scheduled Caste or a Scheduled Tribe</li>
        <li class="cls">A maximum of five years if a candidate had ordinarily been domiciled in the State of Jammu & Kashmir during the period from 1 January 1980 to 31 December 1989</li>
        <li class="cls">A maximum of five years in case of ex-servicemen including Commissioned Officers and ECOs/SSCOs who have rendered at least five years Military Service as on 1 August and have been released on either of the following basis:</li> 
        <ul>
          <li class="cls">on completion of assignment (including those whose assignment is due to be completed within one year from 1 August) otherwise than by way of dismissal or discharge on account of misconduct or inefficiency</li>
          <li class="cls">on account of physical disability attributable to Military Service</li>
          <li class="cls">on invalidment</li>
        </ul>
        <li class="cls">A maximum of ten years in case of blind, deaf-mute and orthopaedically handicapped persons</li>
      </ul>
      <h3>Examination</h3>
      <h5>Application</h5>
        <p>Candidates are required to apply ONLINE only, by using the website www.upsconline.nic.in</p>
      <h5>Application fee</h5>
        <p>The application fee of the online form for General category male candidates is 200 (US$3.20), while no fee is required by female and the reserved category applicants.</p>
      <h5>Plan of examination</h5>
        <p>There are objective as well as conventional (descriptive) papers. One paper for GA (General Ability) is part of the assessment system apart from the engineering subject of the candidate. The entire technical subject is divided into four papers (Papers II, III, IV & V). There is a penalty (negative marking) for wrong answers marked by the candidate in the objective type papers. There is a three-day schedule of the written examination, comprising all five written examinations.</p>
      <table> 
        <thead> 
          <tr> 
            <th width="200">Scheme of Examination</th>
            <th></th>
            <th></th> 
    
          </tr> 
        </thead> 
        <tbody> 
          <tr> 
             <td>Paper I (Objective type)</td> 
             <td>General Ability Test (Part A: General English) (Part B: General Studies)</td> 
             <td>200 Marks</td> 
          </tr> 
          <tr> 
             <td>Papers II & III (Objective type)</td> 
             <td>Civil Engineering / Mechanical Engineering / Electrical Engineering / Electronics & Telecommunication Engineering</td> 
             <td>200 Marks for each paper</td>  
          </tr> 
          <tr> 
             <td>Papers IV & V (Conventional type)</td> 
             <td>Civil Engineering / Mechanical Engineering / Electrical Engineering / Electronics & Telecommunication Engineering</td> 
             <td>200 Marks for each paper</td> 
          </tr> 
          <tr> 
             <td></td> 
             <td><b>Total marks for written examination</b></td>
             <td><b>1000 Marks</b></td> 
          </tr> 
          <tr> 
             <td>Interview</td> 
             <td>Personality Test</td> 
             <td>200 Marks</td> 
          </tr> 
        </tbody> 
      </table>

      <h5>First stage</h5>
        <p>The first day is allocated for the General Ability (GA) paper. This exam is of 2 hours duration. On the first day there is just one exam. This exam consists of General English and General Studies. Paper is maximum of 200 marks.</p>
      <h5>Second stage</h5>
        <p>The second day is allocated for the Objective Technical Papers (II & III). There is one objective exam for each paper separately and each being of 2 hours in duration. Each paper is maximum of 200 marks.</p>
      <h5>Third stage</h5>
        <p>The third day is allocated for the Conventional Technical Papers (IV & V). There is one subjective exam for each paper separately and each being of 3 hours in duration. Each Paper is maximum of 200 marks.</p>
        <p>The conventional answer sheets of a candidate are evaluated only when he / she qualifies the objective examination.</p>
      <h3>Interview</h3>
        <p>This is the fourth and final stage; candidates who qualify the written exam are called for the interview. Interview carries 200 marks. Officially called "Personality Test", the object of the interview is to assess the personal suitability of the candidate for a career in public service by a Board of competent and unbiased observers. The test is intended to judge the mental caliber of a candidate. In broad terms this is really an assessment of not only his intellectual qualities but also social traits and his interest in current affairs. Some of the qualities to be judged are mental alertness, critical powers of assimilation, clear and logical exposition, balance of judgment, variety and depth of interest, ability for social cohesion and leadership, intellectual and moral integrity.</p>
        <p>The technique of the interview is not that of a strict cross-examination but of a natural, though directed and purposive conversation which is intended to reveal the mental qualities of the candidate.</p>
        <p>The interview test is not intended to be a test either of the specialized or general knowledge of the candidates which has been already tested through their written papers. Candidates are expected to have taken an intelligent interest not only in their special subjects of academic study but also in the events which are happening around them both within and outside their own state or country as well as in modern currents of thought and in new discoveries which should rouse the curiosity of well educated youth.</p>
        <p>These four stages ensure that the candidates selected, are best suited to handle the responsibilities which will be entrusted to them. The selected candidates then undergo training at the academies / institutes of their respective cadres that makes them acquainted with the area of work, the cadre / service is engaged in.</p>
      <h5>Cut off marks from last 5 years</h5>
      <table> 
        <thead> 
          <tr> 
            <th width="100">Years</th>
            <th width="150">Objective Cut off Marks</th> 
            <th width="150">600 (GA I : 200, objective II : 200, objective III : 200)</th> 
            <th width="50"></th>
            <th></th>
          </tr> 
        </thead> 
        <tbody> 
          <tr> 
            <td></td>
            <td>General</td> 
            <td>OBC</td> 
            <td>SC</td> 
            <td>ST</td> 
          </tr> 
          <tr> 
            <td>2011</td> 
            <td>228</td> 
            <td>218</td> 
            <td>176</td> 
            <td>176</td> 
          </tr> 
          <tr> 
            <td>2010</td> 
            <td></td> 
            <td></td> 
            <td></td> 
            <td></td> 
          </tr> 
          <tr> 
            <td>2009</td> 
            <td>245</td> 
            <td>220</td> 
            <td>192</td> 
            <td>158</td> 
          </tr>
          <tr> 
            <td>2008</td> 
            <td></td> 
            <td></td> 
            <td></td> 
            <td></td> 
          </tr>
          <tr> 
            <td>2007</td> 
            <td></td> 
            <td></td> 
            <td></td> 
            <td></td> 
          </tr>
        </tbody> 
      </table>
      <h5>Interview Call 1000 Marks ( 600, Conventional Paper IV : 200, Conventional Paper V : 200)</h5>
      <table> 
        <thead> 
          <tr> 
            <th width="50"></th> 
            <th width="50">General</th>      
            <th width="50">OBC</th>     
            <th width="50">SC</th>  
            <th width="50">ST</th>      
          </tr> 
        </thead> 
        <tbody> 
          <tr> 
            <td>2011</td> 
            <td>432</td> 
            <td>390</td> 
            <td>339</td> 
            <td>304</td> 
          </tr>
          <tr> 
            <td>2010</td> 
            <td>410</td> 
            <td>360</td> 
            <td>312</td> 
            <td>288</td> 
          </tr>
          <tr> 
            <td>2009</td> 
            <td>440</td> 
            <td>401</td> 
            <td>348</td> 
            <td>296</td> 
          </tr>
          <tr> 
            <td>2008</td> 
            <td>388</td> 
            <td>346</td> 
            <td>306</td> 
            <td>297</td> 
          </tr>
          <tr> 
            <td>2007</td>
            <td>392</td> 
            <td>376</td> 
            <td>347</td> 
            <td>319</td> 
          </tr>
        </tbody> 
      </table>
      <h5>Final Cutoff Marks : 1200 Mark</h5>
      <table> 
        <thead> 
          <tr> 
            <th width="50"></th> 
            <th width="50">General</th>      
            <th width="50">OBC</th>     
            <th width="50">SC</th>  
            <th width="50">ST</th>      
          </tr> 
        </thead> 
        <tbody> 
          <tr> 
            <td>2011</td> 
            <td>576</td> 
            <td>541</td> 
            <td>451</td> 
            <td>446</td> 
          </tr>
          <tr>
            <td>2010</td> 
            <td>554</td> 
            <td>514</td> 
            <td>450</td> 
            <td>420</td> 
          </tr>
          <tr> 
            <td>2009</td> 
            <td>579</td> 
            <td>547</td> 
            <td>467</td> 
            <td>430</td> 
          </tr>
          <tr> 
            <td>2008</td> 
            <td>526</td> 
            <td>500</td> 
            <td>438</td> 
            <td>460</td> 
          </tr>
          <tr> 
            <td>2007</td>
            <td>594</td> 
            <td>557</td> 
            <td>505</td> 
            <td>463</td> 
          </tr>
        </tbody> 
      </table>
  </div>
</div>

<style type="text/css">
.lis
{
  list-style: square;
  margin-left: 25px;
  }
  .cls{
    list-style-type: disc;
    margin-left: 25px;
  }
  </style>































































    