<div class="row">
	<div class="large-12 columns">
		<table> 
		  <thead> 
		    <tr> 
		      <th width="250" align="center">Name of PSU</th>
		      <th width="250" align="center">Application Dates</th>
		      <th width="250" align="center">Number of vacancies</th> 
		      <th width="250" align="center">Eligible Branches</th> 
		    </tr> 
		  </thead> 
		  <tbody> 
		    <tr> 
		       <td align="center">POWERGRID</td> 
		       <td align="center">
			       	<b>Commencement of online submission of application to POWERGRID (Tentative): January 7, 2014.</b><br />
			        <b>Last date of online submission of application to POWERGRID (Tentative): Second week of February 2014.</b>
		       </td> 
		       <td align="center">Will be notified soon.</td> 
		       <td>Electrical/ Electrical (Power) /Electrical and Electronics/  Power Systems Engineering</td> 
		    </tr> 
		    <tr> 
		       <td align="center">HPCL-Hindustan Petroleum Corporation Ltd.</td> 
		       <td align="center">
		       	  <b>Commencement of online Registration of application by candidates for HPCL: 18 December 2013. </b><br>
		          <b>Applications are available now!</b><br />
		          <b>Last date for online registration of application by candidates for HPCL: 12 February 2014.</b>
		       </td> 
		       <td align="center">Will be notified soon.</td> 
		       <td>Mechanical/ Civil / Electrical/Electronics and Communication/ Instrumentation</td> 
		    </tr> 
		    <tr> 
		       <td align="center">NHPC Limited</td> 
		       <td align="center">
		       	<b>Commencement of online Registration of application by candidates for NHPC: 07 January, 2014.</b><br />
		        <b>Last date for online registration of application by candidates for NHPC: 21 January 2014.</b>
		       </td> 
		       <td align="center">180</td> 
		       <td>Mechanical/ Civil/ Electrical</td> 
		    </tr> 
		     <tr> 
		       <td align="center">NTPC Limited</td> 
		       <td align="center"><b>Commencement of online Registration of application by candidates for NTPC: 20 December, 2013.</b><br />
		        <b>Applications are available now! </b>
		        <b>Last date for online registration of application by candidates for NTPC: 18 January 2014.</b></td> 
		       <td align="center">Will be notified soon</td> 
		       <td>Mechanical/ Civil/ Electrical/ Electronics/ Instrumentation</td> 
		    </tr> 
		    <tr> 
		       <td align="center">BPCL Limited</td>
		       <td align="center"><b>Commencement of online Registration of application by candidates for BPCL: 20 December, 2013.</b><br />
		       <b>Applications are available now! </b>
		       <b>Last date for online registration of application by candidates for BPCL: 31 January, 2014.</b></td>
		       <td align="center">Will be Notified soon</td>
		       <td>Mechanical/ Chemical</td>
		    </tr> 
		     <tr> 
		       <td align="center">IndianOil</td>
		       <td align="center"><b>Commencement of online Registration of application by candidates for IndianOil: 18 December, 2013.</b><br />
		       <b>Applications are available now! </b>
		       <b>Last date for online registration of application by candidates for IndianOil: 2 March, 2014.</b></td>
		       <td align="center">Will be Notified soon</td>
		       <td>Chemical/ Civil/ Computer Science & Information Technology/ Electrical/ Instrumentation/ Mechanical/ Metallurgical</td>
		    </tr> 
		    <tr> 
		       <td align="center">GAIL</td>
		       <td align="center"><b>Commencement of online Registration of application by candidates for GAIL: 24 January, 2013.</b><br />
		       <b>Last date for online registration of application by candidates for GAIL: 28 January, 2014.</b></td>
		       <td align="center">Will be Notified soon</td>
		       <td>Mechanical/ Electrical/ Instrumentation/ Chemical</td>
		    </tr> 
		     <tr> 
		       <td align="center">MDL</td>
		       <td align="center"><b>Commencement of online Registration of application by candidates for MDL: December 18, 2013.</b><br />
			   <b>Applications are available now! </b>
			   <b>Last date for online registration of application by candidates for MDL: January 31, 2013.</b></td>
		      <td align="center">45</td>
		      <td>Mechanical/ Electrical/ Electronics</td>
		    </tr> 
		    <tr> 
		      <td align="center">NFL</td>
		      <td align="center"><b>Commencement of online Registration of application by candidates for NFL: January, 2014.</b><br />
		      <b>Last date for online registration of application by candidates for NFL: January, 2014.</b></td>
		      <td align="center">49</td>
		      <td>Mecanical/ Electrical/ Chemical/ Instrumentation/ Materials</td>
		    </tr> 
		    <tr> 
		      <td align="center">MECL</td>
		      <td align="center"><b>Commencement of online Registration of application by candidates for MECL: January 15, 2014.</b><br />
		      <b>Last date for online registration of application by candidates for MECL: February 14, 2014.</b></td>
		      <td align="center">35</td>
		      <td>Mechanical/ Chemistry/ Geology/ Geophysics</td>
		    </tr> 
		    <tr> 
		       <td align="center">NLC</td>
		       <td align="center"><b>Commencement of online Registration of application by candidates for NLC: December 20, 2013.</b><br />
		       <b>Applications are available now! </b>
		       <b>Last date for online registration of application by candidates for NLC: January 20, 2014.</b></td>
		       <td align="center">78</td>
		       <td>Mech/ Electrical Engineering/ Electrical&Electronics Engineering/ Electronics&Communication Engineering / Mining/ Instrumentation/ Electronics&Instrumentation/      Instrumentation&Control/ Civil / Civil&Structural/ Computer Science/ Computer Engineering/ Information Technology</td>
		    </tr> 
		    <tr>
				<td align="center">CEL</td>
			    <td align="center">Application typed in specified format must be sent between January 1 to January 20, 2014.</td>
			    <td align="center">14</td>
			    <td>Electronics & Communication/ Mechanical Engineering/Material Science/ Physics/ Chemistry</td>
		    </tr>
		    <tr>
				<td align="center">Vizag Steel Plant</td>
				<td align="center">will be updated shortly</td>
				<td align="center"></td>
				<td>Metallurgy, Mechanical, Electrical etc</td>
		    </tr>
		    <tr>
			   <td align="center">GSECL</td>
		      <td align="center"><b>Commencement of online Registration of application by candidates for GSECL: January 15, 2014.</b><br />
		      <b>Last date for online registration of application by candidates for NLC: January 30, 2014.</b></td>
		      <td align="center">60</td>
		      <td>Electrical, Mechanical, C&I,   Civil</td>  
		    </tr> 
		  </tbody> 
		</table>
	</div>
</div>




		 



		 









