<footer class="row"><hr />
  <div class="large-12 columns">
    <div class="large-8 columns">
      <ul class="inline-list">
          <li><a href="/GATE">GATE</a></li>
          <li><a href="/IES">IES</a></li>
          <li><a href="/PSUs">PSUs</a></li>
          <li><a href="/CPTP">CPTP</a></li>
          <li><a href="/">SiteMap</a></li>
          <li><a href="/">Whats New</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          
        </ul>
      </div>
    </div>
    
  </div><p align="center">© 2007–2014 Vishwa, Inc. All rights reserved.</p><hr />
</footer>






